<script setup lang="ts">
import { ref } from "vue";
</script>

<template>
  <v-layout>
    <RouterView name="header"></RouterView>
    <RouterView name="menu"></RouterView>

    <v-main> <RouterView></RouterView> </v-main>
  </v-layout>
</template>
